main {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.header {
  background-color: tomato;
  font-weight: bold;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  > * {
    padding: 0px;
    margin: 0px;
  }
}

.viz-container {
  display: flex;
  flex-grow: 1;
}

.viz-container ._charts,
.viz-container ._map {
  display: flex;
  flex-direction: column;
}

.viz-container ._map {
  flex-grow: 2;
}

.viz-container ._charts {
  flex-grow: 1;
}

.map-viz {
  flex-grow: 1;
  display: flex;
}

#map-viz {
  flex-grow: 1;
}

.chart-viz {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  text-align: center;
  // padding: 3px;
  // border: 1px solid red;

  > svg {
    flex-grow: 1;
    // border: 1px solid blue;
  }

}

.data-aggregate {
  flex-grow: 1;
  background: #333;
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 2rem;
  font-weight: 500;
}

#chart-viz-svg {
}
