main {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.header {
  background-color: tomato;
  color: white;
  font-weight: bold;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  > * {
    padding: 0px;
    margin: 0px;
  }
}

a, a:visited, a:hover, a:active {
  color: white;
}

.viz-container {
  display: flex;
  flex: 1 1 auto;
}

.viz-container ._charts,
.viz-container ._map {
  display: flex;
  flex-direction: column;
}

.viz-container ._charts {
  flex: 1 0 auto;
}

.viz-container ._map {
  flex: 2 1 auto;
}

#map-viz {
  flex: 1 1 auto;
}

.chart-viz {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  text-align: center;
  min-height: 33%;
  border-bottom: 1px solid #333;
  position: relative;
  > svg {
    flex: 1 1 auto;
  }
}

.chart-viz ._title {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-weight: bold;
}

.footer {
  flex: 1 1 auto;
  background: #333;
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 1.2rem;
  font-weight: 500;
}
